.project
.pydevproject
.settings
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
missing
mkinstalldirs
py-compile
*.tar.gz
*.tar.bz2
*.src.rpm
*.spec
translators.txt
*.desktop
