[Desktop Entry]
Name=Internet Configuration Wizard
Name[de]=Internet Konfiguration Wizard
Name[ja]=インターネット接続
Comment=Red Hat's Internet Configuration Wizard
Comment[de]=Red Hat's Netzwerk Konfiguration Wizard
Comment[ja]=Red Hat インターネット接続ウィザード
Exec=/usr/bin/internet-druid
Terminal=0
Type=Application
Icon=neat.png
