[Desktop Entry]
Name=Internet Configuration Wizard
Name[de]=Internet Konfiguration Wizard
Comment=Red Hat's Internet Configuration Wizard
Comment[de]=Red Hat's Netzwerk Konfiguration Wizard
Exec=/usr/bin/internet-druid
Terminal=0
Type=Application
Icon=neat.png
