[Desktop Entry]
Name=Internet Configuration Wizard
Name[de]=Internet Konfiguration Wizard
Name[ja]=インターネット接続ウィザード
Comment=Internet Configuration Wizard
Comment[de]=Netzwerk Konfiguration Wizard
Comment[ja]=インターネット接続ウィザード
Exec=/usr/bin/internet-druid
Terminal=0
Type=Application
Icon=neat.png
