[Desktop Entry]
Name=Network Configuration
Name[de]=Netzwerk Konfiguration
Comment=Red Hat's Network configuration tool
Comment[de]=Red Hat's Netzwerk Konfigurationstool
Comment[no]=Red Hat nettverkskonfigureringssverktøy
Exec=/usr/bin/neat
Terminal=0
Type=Application
Icon=neat.png
